* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: blueviolet; */
}

.container {
    width: 100vw;
    height: 100vh;
}

.navbar {
    height: 12vh;
    width: 100vw;
    background-color: #000000;
}

.navbar + div {
    width: 10vw;
}

.logo {
    position: absolute;
    left: 2%;
    width: 100px;
    height: 30px;
    margin-top: 1%;
}

.line {
    position: absolute;
    left: 15%;
    top: 3%;
    width: 10vw;
    height: 5%;
    border-left: 2px solid #FFFFFF;
}

.grow-list {
    width: 60vw;
}

.list {
    position: absolute;
    left: 20%;
    list-style-type: none;
}

.list-item {
    float: left;
    padding: 20px 20px;
    color: #FFFFFF;

}

.button-small {
    position: absolute;
    width: 150px;
    left: 80%;
    padding: 5px 1px;
    margin-top: 1%;
    background-color: #f011bfe1;
    height: 35px;
    border-radius: 10px;
    color: #FFFFFF;

}

.hero {
    height: 90vh;
    background-image: url('./assets/bg.png');
    background-position: center;
    background-size: cover;
}

.hero-heading {
    position: relative;
    top: 16%;
    left: 6%;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.hero-description {
    position: relative;
    top: 16%;
    left: 5%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.button-large {
    position: relative;
    top: 25%;
    left: 40%;
    background-color: #f011bfe1;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    padding: 2px 1px;
    font-size: 18px;
}